.cubeContainer {
    height: 70vh;  /* Augmenter à 100vh pour utiliser toute la hauteur */
    width: 100vw;   /* Utiliser toute la largeur */
    perspective: 1000px;
    display: flex;  /* Ajouter flexbox */
    flex-direction: column;
    align-items: center;  /* Centrer horizontalement */
    justify-content: center;  /* Centrer verticalement */
}

.cubeBox {

    height: 250px;
    width: 250px;
    position: relative;
    /*top: 100px;
    left: 100px;*/
    /*transform: rotate(-90deg);*/
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    /*animation: animate 5s infinite;*/



}

#cubeBox1{
    animation: animate 5s infinite;
}

@keyframes animate {

    0% {
        transform: rotateX(45deg) rotateY(-45deg);

    }

    25% {
        transform: rotateX(-45deg) rotateY(-45deg);

    }

    50% {
        transform: rotateX(45deg) rotateY(45deg);

    }

    75% {
        transform: rotateX(-45deg) rotateY(45deg);

    }

    100% {
        transform: rotateX(45deg) rotateY(-45deg);

    }


}

.cubeCard {

    height: 250px;
    width: 250px;
    text-align: center;
    padding: 100px 0;
    color: white;
    background-color: black;
    border: 2px solid white;
    font-size: 32px;
    box-sizing: border-box;
    position: absolute;
    transition: all 1s ease;

}

#front {

    transform: translateZ(125px);

}

#back {

    transform: translateZ(-125px);

}



#left {

    right: 125px;
    transform: rotateY(-90deg);


}


#right {

    left: 125px;
    transform: rotateY(90deg);


}


#top {

    bottom: 125px;
    transform: rotateX(90deg);


}


#bottom {

    top: 125px;
    transform: rotateX(-90deg);


}

#cubeButton:focus ~ .cubeContainer .cubeBox #front {
    transform: translateZ(180px) rotateY(360deg);
    transition: transform 0.5s ease;
}

#cubeButton:focus~ .cubeContainer .cubeBox #back {
    transform: translateZ(-180px) rotateY(360deg);
    transition: transform 0.5s ease;
}

#cubeButton:focus~ .cubeContainer .cubeBox #left {
    right: 180px;

}

#cubeButton:focus~ .cubeContainer .cubeBox #right {
    left: 180px;

}

#cubeButton:focus~ .cubeContainer .cubeBox #top {

    bottom: 180px;

}

#cubeButton:focus~ .cubeContainer .cubeBox #bottom {

    top: 180px;

}